<div class="fullscreen flex-center">
  <div class="container flex-center">
    <h1>Create User</h1>
    <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
      
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" type="text" />
        <mat-error *ngIf="createUserForm.get('name')?.invalid && createUserForm.get('name')?.touched">
          <small *ngIf="createUserForm.get('name')?.errors?.['required']">Name is required.</small>
          <small *ngIf="createUserForm.get('name')?.errors?.['name']">Please enter a name.</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="createUserForm.get('email')?.invalid && createUserForm.get('email')?.touched">
          <small *ngIf="createUserForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="createUserForm.get('email')?.errors?.['email']">Please enter a valid email.</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="createUserForm.get('password')?.invalid && createUserForm.get('password')?.touched">
          <small *ngIf="createUserForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="createUserForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option value="" disabled>Select a role</mat-option>
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Driver">Driver</mat-option>
        </mat-select>
        <mat-error *ngIf="createUserForm.get('role')?.invalid && createUserForm.get('role')?.touched">
          <small *ngIf="createUserForm.get('role')?.errors?.['required']">Role is required.</small>
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" [disabled]="createUserForm.invalid">Create User</button>

    </form>
  </div>
</div>
