@import '../../../variables.scss';


.container {
    padding: 16px;
    gap: 30px;
    height: 50vh;
    width: 50vw;
    background-color: rgb(179, 179, 179);
    flex-direction: column;

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 4px;
        padding: 0px;

    }
    
}