.primary {
  min-width: 120px;
  min-height: 40px;
  background-color: blue;
  color: white;
  border-radius: 8px;
  }

.secondary {
  min-width: 120px;
  min-height: 40px;
  background-color: gray;
  color: black;
  border-radius: 8px;
  }
  