# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular specific files
/.angular/cache
/.angular/cli
.angular-errors.log

# Compiled Sass/CSS
.sass-cache/
/*.css.map
*.scssc

# Test and Coverage files
/coverage
/jest/
.jest-test-results.json
test-results/

# Miscellaneous
/connect.lock
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Logs
*.log
*.log.*

# Temp files
*.tmp
*.temp
*.bak

# Build/Debugging artifacts
*.stacktrace
*.swp
*.swo
*.bak
*.orig
