<nav class="navbar">

  <a class="logo" routerLink="/">
    LX
  </a>

  <div class="container">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Login
    </a>
    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>
    <a routerLink="/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Create User
    </a>
    <a routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      User Profile
    </a>
  </div>

  <app-logout-button *ngIf="authService.isLoggedIn()" class="logo">
    Logout
  </app-logout-button>

</nav>
>